<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="database" value="GameHistory"/>
		<add key="host" value="localhost"/>
		<add key="db_port" value="5432"/>
		<add key="username" value="postgres"/>
		<add key="password" value="postgres"/>
		<add key="sqlscript_path" value="C:\Users\PC\source\repos\TRRP_lab4\HistoryServer\history.db"/>
		<add key="ip" value="127.0.0.1"/>
	</appSettings>
</configuration>